* {
	box-sizing: border-box;
	vertical-align: top;
}

body {
	background:white;
	width:100%;
	height:100%;
	color:black;
	font-family:arial;
	overflow:none;
	margin:0;

}


.container {
	width:100%;
	height:100%;
	position:absolute;
	padding: 10px;
}

p {
	font-size:6vw;
	width:80%;
	position:relative;
	left:1em;
	margin-bottom: 1em;
}

a{
	color:black;
}
