* {
	box-sizing: border-box;
	vertical-align: top;
}

body {
	background:red;
	width:100%;
	height:100%;
	color:black;
	font-family:times;
	margin:0;
	overflow-x: hidden;
       opacity: 0; 
    transition: opacity 4s; 
}

body::-webkit-scrollbar {
    width:20px !important;
    height:10px !important;
    margin-top:2% !important;
    margin-right:2% !important;
    position: relative !important;
    padding:3em !important;

}

audio{
	background:red;
}

body::-webkit-scrollbar-thumb {
  background-color: black !important;
    top:20% !important;
    right:20% !important;
    position: relative !important;
    padding:3em !important;
     height:5px !important;
}


p {
	font-size:3vw;
	width:22.5%;
	position:relative;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:0 auto;
	top: 50%;
     transform: perspective(1px) translateY(-50%);
     overflow-y: wrap;
}


.container1 {
	width:100vw;
	height:100vh;
	position:absolute;
	padding: 10px;
	overflow-y:wrap;
	background:black;
	color:red;
}

.container1 p{
	font-size: 4vw;
	width:100vw;
	text-align: center;
}


.container2 {
	top:100vh;
	width:100vw;
	height:80vh;
	position:absolute;
	overflow-y:wrap;
	text-overflow: wrap;
	background:black;
	color:red;
	border-top-style: solid;
	border-top-color: black;
	border-top-width: 10px;
}

.container2 p{
	font-size:2vw;
	font-weight: lighter;
	width:80%;
	position:relative;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:0 auto;
	top: 50%;
    transform: perspective(1px) translateY(-50%);
    display: block;
	animation-name: animation-one;
	animation-duration: 2s;
	animation-iteration-count: infinite;


}

.half1{
	width:50%;
	height:100%;
	background:;
	position: absolute;
}

.half2{
	width:50%;
	height:100%;
	margin-left: 50%;
	background:red;
	position: absolute;
}

article {
  display: inline-grid;
  grid-template-rows: 300px 300px 300px 300px 300px 300px ;
  grid-template-columns: 50px 50px 50px 50px 50px 50px; 
  grid-gap: 50px;
    position: relative;
	mix-blend-mode: exclusion;
	height: 100%;
	width: 100%;

}

section {

  display: flex;
  justify-content: center;
  align-items: center;
  background:red;
  font-size: 3em;
  width: 100%;

}

.moon{
	width:250px;
	height: 250px;
	border-radius: 50%;
	position:relative;
	right:0;
	/*left:0;
	top:0;
	right:0;
	bottom:0;
	margin:0 auto;
	top: 27.5%;
    transform: perspective(1px) translateY(-50%) scale(1);*/
    display: block;
    background:url(img/1.jpeg) no-repeat center;
    background-color: white;
    background-size:cover;
	mix-blend-mode: exclusion;
	animation-name: flash;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
}


@keyframes flash{
	0%{background:url(img/white.jpeg) no-repeat center;, background-size: cover;}
	100%{background:url(img/1.jpeg) no-repeat center;, background-size: cover;;}
}

@keyframes animation-one {
	0% { color:black; }
	50% { color:red; }
	100% { color:black; }}

	@keyframes animation-two {
	0% { transform:scale(1); }
	50% { transform:scale(1.5); }
	100% { transform:scale(1); }}


.container3 {
	top:180vh;
	width:100vw;
	height:80vh;
	position:absolute;
	overflow-y:wrap;
	text-overflow: wrap;
	background:black;
	color:red;
}

.container3 p {
	font-size: 4vw;
	width:90%;
}


.container3 p .invis{
	color:black;
}

.container3 p:hover{
	color:black;
}

.container3 p:hover .invis{
	color:red;
}

.container3 img{
	width:30vw;
	position: absolute;
	left:10vw;
	top:10vh;
}

.container4 {
	top:260vh;
	width:100vw;
	height:100vh;
	position:absolute;
	overflow-y:wrap;
	text-overflow: wrap;
	background:url(img/3.png) ;
}

.container4 p {
	width:80%;
	font-size: 2vw;
	color:black;
	z-index: 2;
}



.slider{
	height:100%;
	width:100vw;
	background:red;
	left:0;
	position: absolute;
	animation-name: animation-three;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	/*
	transition: 4s ease-in-out;*/
}
/*
.container4:hover .slider{
	width:100vw;
	transition: 4s ease-in-out;
}*/

@keyframes animation-three {
	0% { width:10vw; }
	25% {width:25vw;}
	50% { width:50vw; }
	75% { width:100vw; }
	100% {width:5vw;}
	}


.container5 {
	top:360vh;
	width:100vw;
	height:100vh;
	position:absolute;
	overflow-y:wrap;
	text-overflow: wrap;
	background:black;
	color:red;
	animation-name: animation-four;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
}

.container5 p{
	width: 100vw;
	font-size: 10vw;
	text-align: center;
}

@keyframes animation-four {
	0% { color:black; background:red; }
	100% { color:red; background:black; }
	}

.container6 {
	top:460vh;
	width:100vw;
	height:100vh;
	position:absolute;
	overflow-y:wrap;
	text-overflow: wrap;
	background:none;
	color:black;
	animation-name: animation-five;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
}

.container6 p{
	width: 80vw;
	font-size: 3vw;
}

@keyframes animation-five {
	0% { color:black; background:red; }
	25% { color:red; background:white; }
	50% { color:black; background:green; }
	75% { color:red; background:black; }
	100% { color:black; background:red; }
	}


.container7 {
	top:560vh;
	width:100vw;
	height:100vh;
	position:absolute;
	overflow-y:wrap;
	text-overflow: wrap;
	background:;
	color:black;
	mix-blend-mode: difference;
}

.container7 p{
	width: 80vw;
	font-size: 2vw;
}

.slider2{
	height:5vh;
	width:100vw;
	background:url(img/9.jpeg);
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:0 auto;
	position: absolute;
	animation-name: animation-six;
	animation-duration: 6s;
	animation-iteration-count: infinite;/*
	transition: 4s ease-in-out;*/
}

@keyframes animation-six {
		0% { height:5vh; }
	25% {height:25vh;}
	50% { height:50vh; }
	75% { height:100vh; }
	100% {height:5vh;}
	}

.container8 {
	top:660vh;
	width:100vw;
	height:80vh;
	position:absolute;
	overflow-y:wrap;
	text-overflow: wrap;
	background:red;
	color:black;
}

.container8 p{
	width: 80vw;
	font-size: 2vw;
	margin-top:0;
	margin-bottom:0;
}

.container9 {
	top:740vh;
	width:100vw;
	height:100vh;
	position:absolute;
	overflow-y:wrap;
	text-overflow: wrap;
	background:white;
	color:black;
	animation-name: animation-seven;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

.container9 p{
	width: 80vw;
	font-size: 2vw;
}


@keyframes animation-seven {
	0% { color:black; background:white; }
	50% { color:red; background:black; }
	100% { color:black; background:white; }
	}


.container10 {
	top:840vh;
	width:100vw;
	height:100vh;
	position:absolute;
	overflow-y:wrap;
	text-overflow: wrap;
	background:red;
	color:black;
	animation-name: animation-eight;
	animation-duration: 30s;
	animation-iteration-count: infinite;
}

.container10 p{
	width: 100vw;
	font-size: 10vw;
	text-align: center;
}

@keyframes animation-eight {
	0% { color:black; background:red; }
	90% { color:red; background:red; }
	99% { color:black; background:black; }
	100% { color:black; background:red; }
	}

.container11 {
	top:940vh;
	width:100vw;
	height:100vh;
	position:absolute;
	overflow-y:wrap;
	text-overflow: wrap;
	background:red;
	color:black;
}

.container11 p{
	width: 100vw;
	font-size: 10vw;
	text-align: center;
}

@media (min-width: 481px) and (max-width: 767px) {
  p{
  	font-size: 20px
  }

   .container1 p{
  	font-size: 20px;
  }
   .container2 p{
  	font-size: 20px;
  }

   .container3 p{
  	font-size: 20px;
  }

   .container4 p{
  	font-size: 20px;
  }

  .container5 p{
  	font-size: 20px;
  }

  .container6 p{
  	font-size: 20px;
  }

  .container7 p{
  	font-size: 20px;
  }

  .container8 p{
  	font-size: 20px;
  }

  .container9 p{
  	font-size: 20px;
  }

  .container10 p{
  	font-size: 20px;
  }

  .container11 p{
  	font-size: 20px;
  }
}


@media (min-width: 320px) and (max-width: 480px) {
    p{
  	font-size: 20px
  }

   .container1 p{
  	font-size: 20px;
  }
   .container2 p{
  	font-size: 20px;
  }

   .container3 p{
  	font-size: 20px;
  }

   .container4 p{
  	font-size: 20px;
  }

  .container5 p{
  	font-size: 20px;
  }

  .container6 p{
  	font-size: 20px;
  }

  .container7 p{
  	font-size: 20px;
  }

  .container8 p{
  	font-size: 20px;
  }

  .container9 p{
  	font-size: 20px;
  }

  .container10 p{
  	font-size: 20px;
  }
}