

body {
	background:white;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin:none;
	margin-left:0;
	color:white;
}





.wrapper{
	display:inline-block;
	width:87.5vw;
	height:90vh;
	margin:auto;
	overflow:none;
	background:url(../img/nyc.png) no-repeat;
	background-color:white;
	background-size:cover;
	position:absolute;
	color:white;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;

	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about{
	margin-top:100vh;
	width:100vw;
	height:100vh;
	position:absolute;
	background:white;
	display:flex;
	align-items: center;

}

.about > h1{
	color:black;
}

.nav{
	width:100vw;
	height:10vh;
	background:white;
	position:fixed;
	top:0;
	left:0;
	display:flex;
	opacity:1;
}

.header{
	margin-left:auto;
	margin-right:4.7em;
}

.divide{
	margin-top:200vh;
	width:100vw;
	height:100vh;
	position:absolute;
	background:white;
	display:flex;
	align-items: center;

}

.intro{
	margin-top:300vh;
	width:100vw;
	height:100vh;
	position:absolute;
	background:white;
	display:block;

}

.intro > h1 {
	top:1em;
	width:auto;
	margin:auto;
	left:4.5em;
	margin-right:5em;
	position: absolute;
}

.intro > p {
	width:auto;
	margin:auto;
	margin-top:4em;
	left:8.7em;
	right:5em;
	position:absolute;
}

.acc{
	margin-top:400vh;
	width:100vw;
	height:100vh;
	position:absolute;
	background:white;
	display:flex;
	align-items: center;

}

.sol{
	margin-top:500vh;
	width:100vw;
	height:100vh;
	position:absolute;
	background:white;
	display:flex;
	align-items: center;

}

.cfo{
	margin-top:600vh;
	width:100vw;
	height:100vh;
	position:absolute;
	background:white;
	display:flex;
	align-items: center;

}

.cap{
	margin-top:700vh;
	width:100vw;
	height:100vh;
	position:absolute;
	background:white;
	display:flex;
	align-items: center;

}

.contact{
	margin-top:800vh;
	width:100vw;
	height:100vh;
	position:absolute;
	background:white;
	display:flex;
	align-items: center;

}

.contact > h2{
	margin-left:auto;
	margin-right:auto;
	text-decoration: underline;
}

.contact > a {
	margin-left:auto;
	margin-right:auto;
	color:black;
}



.left{
	width:50vw;
	height:100vh;
	left:0;
	position:absolute;
	background:white;
	display:flex;
	align-items:center;
    flex-direction: column;
    flex-wrap: wrap;
}

.left > h1 {
	color:black;
	margin-top:5em;
	margin-bottom: none;
}

.left > h6 {
	color:black;
}

.right{
	width:50vw;
	height:100vh;
	right:0;
	position:absolute;
	background:black;
	display:flex;
	align-items:center;
    flex-direction: column;
    flex-wrap: wrap;
}

.right > h1 {
	margin-top:5em;
	color:white;
	margin-bottom: none;
}


.left1{
	width:50vw;
	height:100vh;
	left:0;
	position:absolute;
	background:url(../img/acc.png) no-repeat;
	background-size: cover;
	display:flex;
	align-items:center;

	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right1{
	width:50vw;
	height:100vh;
	right:0;
	position:absolute;
	display:block;
	background:white;
	align-items:center;
    flex-direction: column;
    flex-wrap: wrap;
}
}


.right1 > h2 {
	margin-top:1em;
	margin-left:-2em;
	margin-bottom:1em;
	position:relative;
}

.right1 > p{
	margin-left:2em;
	margin-right:15em;
}

.left2{
	width:50vw;
	height:100vh;
	left:0;
	position:absolute;
	display:flex;
	background:white;
	align-items:center;
}

.right2{
	width:50vw;
	height:100vh;
	right:0;
	position:absolute;
	background:url(../img/hand.png) no-repeat;
	background-size: cover;
	display:flex;
	align-items:center;
    flex-direction: column;
    flex-wrap: wrap;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left2 > h2 {
	margin-top:-3em;
	margin-left:2em;
	margin-right:-20em;
}

.left2 > p {
	margin-top:8em;
	margin-right:-1.3em;
}

.left3{
	width:50vw;
	height:100vh;
	left:0;
	position:absolute;
	background:url(../img/cfo.png) no-repeat;
	background-size: cover;
	display:flex;
	align-items:center;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right3{
	width:50vw;
	height:100vh;
	right:0;
	position:absolute;
	display:flex;
	background:white;
	align-items:center;
}

.right3 > h2 {
	margin-left:-1em;
	margin-bottom:7em;
	position:relative;
}

.right3 > p{
	margin-top:8em;
	margin-left:-20em;
	margin-right:5em;
}

.left4{
	width:50vw;
	height:100vh;
	left:0;
	position:absolute;
	display:flex;
	background:white;
	align-items:center;
}

.right4{
	width:50vw;
	height:100vh;
	right:0;
	position:absolute;
	background:url(../img/capital.png) no-repeat;
	background-size: cover;
	display:flex;
	align-items:center;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left4 > h2 {
	margin-left:8em;
	margin-bottom:3em;
	position:relative;
}

.left4 > p {
	margin-top:12.5em;
	margin-left: -35em;
	margin-right:2em;
}

p{
	display: block;
	font-size:1em;
	width:90%;
	color:black;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

h1{
	display: block;
	color:black;
	width:60%;
	font-weight: 700;
	text-align:center;
    margin-left: auto;
    margin-right: auto; 
}

h2{
	font-size:2.5em;
	font-weight: 700;
	display:block;
	color:black;
}


img.logo {
	display:flex;
	width:15%;
	/*margin-left:auto;
	margin-right:auto;
	margin-top:20%;
	vertical-align: middle;*/
    position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
}

img.arrow{
	display:block;
	width:1.5%;
	margin-top:12%;
	margin-left:auto;
	margin-right:auto;
}

h3{
	font-size:2em;
	font-weight: 700;
	color:white;
	font-weight: 2;
	letter-spacing:2px;
}

h3 {
	font-weight: 700;
	margin: 0;
    position: absolute;
    top: 61%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

h4{
	font-weight: 100;
	margin-left:4em;
	color:black;
	font-size:0.8em;
	display:inline-block;

}

h5{
	font-weight: 100;
	color:black;
	font-size:0.8em;
	display:inline-block;
}

h6{
	font-weight: 700;
	font-size:1.5em;
	text-align:center;

}
/*
body {
    opacity: 1;
    transition: 3.5s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
*/

.icon{

	display:inline-block;
	background:url(../img/black.svg) center no-repeat;
	width:3vw;
	height:5vh;
	position:absolute;
	left:5em;
	top:1em;
	transform: scale(0.65);

}

.dropbtn {
    background-color: white;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color:white;
    font-family:helvetica;
    font-size:0.8em;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    font-family: helvetica;
    text-align:right;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}