

body {
	background:black;
	font-family: arial;
    font-weight: normal;
    font-style: normal;
	font-weight: 1;
	margin:none;
	color:white;
}





.wrapper{
	display:block;
	width:100vw;
	height:100vh;
	margin:0;
	overflow:none;
	background:url(../img/nyc.png) no-repeat;
	background-color:black;
	background-size:cover;
	position:absolute;
	color:white;
}

.about{
	margin-top:100vh;
	width:100vw;
	height:100vh;
	position:absolute;
	background:black;
	display:flex;
	align-items: center;

}

.nav{
	width:100vw;
	height:10vh;
	background:black;
	position:fixed;
	top:0;
	left:0;
	display:flex;
	opacity:1;
}

.header{
	margin-left:auto;
	margin-right:auto;
}

.divide{
	margin-top:200vh;
	width:100vw;
	height:100vh;
	position:absolute;
	background:black;
	display:flex;
	align-items: center;

}

.acc{
	margin-top:300vh;
	width:100vw;
	height:60vh;
	position:absolute;
	background:black;
	display:flex;
	align-items: center;

}

.sol{
	margin-top:360vh;
	width:100vw;
	height:60vh;
	position:absolute;
	background:black;
	display:flex;
	align-items: center;

}

.cfo{
	margin-top:420vh;
	width:100vw;
	height:60vh;
	position:absolute;
	background:black;
	display:flex;
	align-items: center;

}

.cap{
	margin-top:480vh;
	width:100vw;
	height:60vh;
	position:absolute;
	background:black;
	display:flex;
	align-items: center;

}

.contact{
	margin-top:540vh;
	width:100vw;
	height:60vh;
	position:absolute;
	background:black;
	display:flex;
	align-items: center;

}

.contact > h2{
	margin-left:auto;
	margin-right:auto;
	text-decoration: underline;
}

.contact > a {
	margin-left:auto;
	margin-right:auto;
	color:white;
}



.left{
	width:50vw;
	height:100vh;
	left:0;
	position:absolute;
	background:white;
	display:flex;
	align-items:center;
    flex-direction: column;
    flex-wrap: wrap;
}

.left > h1 {
	color:black;
	margin-top:5em;
	margin-bottom: none;
}

.left > h6 {
	color:black;
}

.right{
	width:50vw;
	height:100vh;
	right:0;
	position:absolute;
	background:black;
	display:flex;
	align-items:center;
    flex-direction: column;
    flex-wrap: wrap;
}

.right > h1 {
	margin-top:5em;
	margin-bottom: none;
}


.left1{
	width:50vw;
	height:60vh;
	left:0;
	position:absolute;
	background:url(../img/acc.png) no-repeat;
	background-size: cover;
	display:flex;
	align-items:center;
}

.right1{
	width:50vw;
	height:60vh;
	right:0;
	position:absolute;
	display:block;
	background:black;
	align-items:center;
    flex-direction: column;
    flex-wrap: wrap;
}
}


.right1 > h2 {
	margin-top:1em;
	margin-left:-2em;
	margin-bottom:1em;
	position:relative;
}

.right1 > p{
	margin-left:2em;
	margin-right:15em;
}

.left2{
	width:50vw;
	height:60vh;
	left:0;
	position:absolute;
	display:flex;
	background:black;
	align-items:center;
}

.right2{
	width:50vw;
	height:60vh;
	right:0;
	position:absolute;
	background:url(../img/hand.png) no-repeat;
	background-size: cover;
	display:flex;
	align-items:center;
    flex-direction: column;
    flex-wrap: wrap;
}

.left2 > h2 {
	margin-top:-3em;
	margin-left:2em;
	margin-right:-20em;
}

.left2 > p {
	margin-top:8em;
	margin-right:-1.3em;
}

.left3{
	width:50vw;
	height:60vh;
	left:0;
	position:absolute;
	background:url(../img/cfo.png) no-repeat;
	background-size: cover;
	display:flex;
	align-items:center;
}

.right3{
	width:50vw;
	height:60vh;
	right:0;
	position:absolute;
	display:flex;
	background:black;
	align-items:center;
}

.right3 > h2 {
	margin-left:-1em;
	margin-bottom:7em;
	position:relative;
}

.right3 > p{
	margin-top:8em;
	margin-left:-20em;
	margin-right:5em;
}

.left4{
	width:50vw;
	height:60vh;
	left:0;
	position:absolute;
	display:flex;
	background:black;
	align-items:center;
}

.right4{
	width:50vw;
	height:60vh;
	right:0;
	position:absolute;
	background:url(../img/capital.png) no-repeat;
	background-size: cover;
	display:flex;
	align-items:center;
}

.left4 > h2 {
	margin-left:8em;
	margin-bottom:3em;
	position:relative;
}

.left4 > p {
	margin-top:12.5em;
	margin-left: -35em;
	margin-right:2em;
}

p{
	display: block;
	font-size:1em;
	width:90%;
	color:white;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

h1{
	display: block;
	color:white;
	width:60%;
	text-align:center;
    margin-left: auto;
    margin-right: auto; 
}

h2{
	font-size:2.5em;
	display:block;
	color:white;
}

img.logo {
	display:block;
	width:15%;
	margin-top:15%;
	margin-left:auto;
	margin-right:auto;
	vertical-align: middle;
}

img.arrow{
	display:block;
	width:1.5%;
	margin-top:12%;
	margin-left:auto;
	margin-right:auto;
}

h3{
	font-family:helvetica-bold;
	font-size:2em;
	color:white;
	font-weight: 2;
	letter-spacing:2px;
}

h3 {
	margin: 0;
    position: absolute;
    top: 61%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

h4{
	margin-left:4em;
	color:white;
	font-size:1em;
	display:inline-block;

}

h5{
	color:white;
	font-size:1em;
	display:inline-block;
}

h6{
	font-size:1.5em;
	text-align:center;

}
/*
body {
    opacity: 1;
    transition: 3.5s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
*/