body, div  {
	background-color:#F9F9F9;
	margin:0;
	font-family:arial;
	letter-spacing: 0.2vmin;
	line-height: 2vmin;
}

.wrapper {
	background-color:#F9F9F9;
	width:100%;
	height:100%;
	position:absolute;
	overflow:none;
	margin:0;
	transition: all 5s ease-in-out;
}


.textbox{
	width:50%;
	height:100%;
	position:absolute;
	left:0;
	background:url(../img/naga.jpeg) center no-repeat;
	background-size:cover;
	opacity:0;
	transition: all 5s ease-in-out;
}

.textbox:hover {
	background:url(../img/naga.jpeg) center no-repeat;
	background-size:cover;
	transition: all 3s ease-in-out;
	opacity:1;
}

.text{
	width:75%;
	color:rgba(255, 255, 255,1);
	margin-top:4%;
	margin-left:20%;
	letter-spacing: 0.5vmin;
	line-height: 3vmin;
	position:relative;
	opacity:0;
	transition: all 1s ease-in-out;
	transition-delay: 2s;
	padding-left: 3%;
	background:rgba(0, 0, 0, 0.5);

}


.textbox:hover > .text {
	opacity:1;
	transition: all 1.5s ease-in-out;
}

.textbox:hover > h1 {
	opacity:1;
	transition: all 1.5s ease-in-out;
}


.bgbox{
	width:100%;
	height:100%;
	position:absolute;
	right:0;
	margin:0;
	background:url(../img/nagabg.svg) center no-repeat;
	background-size:cover;
	opacity:0;
	transition: all 5s ease-in-out;
	transition-delay: 1600s;
}

.bgbox:hover{
	opacity:1;
	transition: all 2.5s ease-in-out;
}

.tail {
	background-color:red;
	width:5%;
	height:2.5%;
	position:fixed;
	display:block;
	top:92.5%;
	left:70%;
	transition: all 0.75s ease-in-out;
	transition-delay: 16000s;
}

.tail:hover{
	height:5%;
	transition: all 0.75s ease-in-out;
}


.realtail{
	background-color:#24341C;
	width:9%;
	height:15%;
	border-radius: 10%;
	position:absolute;
	display:block;
	top:18.5%;
	left:46.5%;
	transform:scale(1.6);
	transition: all 0.75s ease-in-out;
}

.hair {
	background-color:pink;
	width:5%;
	height:2.5%;
	position:fixed;
	display:block;
	top:92.5%;
	left:70%;
	transition: all 0.75s ease-in-out;
	transition-delay: 16000s;
}

.hair:hover{
	height:5%;
	transition: all 0.75s ease-in-out;
}

.realhair{
	background-color: black ;
	width:9%;
	height:15%;
	border-radius: 50%;
	position:absolute;
	display:block;
	top:19.5%;
	left:46.5%;
	transform:scale(1.7);
	transition: all 0.75s ease-in-out;
}


.bomb {
	background-color:purple;
	width:5%;
	height:2.5%;
	position:fixed;
	display:block;
	top:92.5%;
	left:75%;
	transition: all 0.75s ease-in-out;
	transition-delay: 16000s;
}

.bomb:hover{
	height:5%;
	transition: all 0.75s ease-in-out;
}

.realbomb{
	background-color: #3B5E27;
	width:7.5%;
	height:20%;
	border-radius: 55%;
	position:absolute;
	display:block;
	top:30%;
	left:47.15%;
	transform:scale(2);
	transition: all 0.75s ease-in-out;
}

.flag {
	background-color:yellow;
	width:5%;
	height:2.5%;
	position:fixed;
	display:block;
	top:92.5%;
	left:80%;
	transition: all 0.75s ease-in-out;
	transition-delay: 16000s;
}

.flag:hover{
	height:5%;
	transition: all 0.75s ease-in-out;
}

.realflag{
	background:url(../img/usflag.svg) center no-repeat;
	background-size:contain;
	width:5%;
	height:2.5%;
	position:absolute;
	display:block;
	top:45.5%;
	left:48.75%;
	transform:scale(1.2);
	transition: all 0.75s ease-in-out;
}





.back {
	background-color: #FB3B3B;
	width:2.5%;
	height:5%;
	border-radius:50%;
	position:absolute;
	display:block;
	bottom:1em;
	left:1em;
	transform:scale(0.8);
	transition: all 0.75s ease-in-out;
}

.back:hover {
	transform: scale(1);
	transition: all 0.75s ease-in-out;
}

.next {
	background-color: #FB3B3B;
	width:2.5%;
	height:5%;
	border-radius:50%;
	position:absolute;
	display:block;
	bottom:1em;
	right:1em;
	transform:scale(0.8);
	transition: all 0.75s ease-in-out;
}

.next:hover {
	transform: scale(1);
	transition: all 0.75s ease-in-out;
}

h1{
	font-family:quattrocento;
	font-size:20px;
	color:white;
	margin-left: 20%;
	margin-top: 15%;
	opacity:0;
	width:75%;
	background:rgba(0, 0, 0, 0.5);
	transition: all 1s ease-in-out;
	transition-delay: 2s;
	line-height: 120%;
	padding-left: 3%;
}

h2{
	font-family:arial;
	font-size:7.5px;
	color:black;
	bottom:0;
	right:1em;
	opacity:100;
	position:absolute;
}

a{
	text-decoration: none;
	color:rgba(247,240,240,1) ;
}

 p {
	padding:1em;
}