* {
	box-sizing: border-box;
	vertical-align: top;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	margin:0;
	font-size: 1.8vw;
	color:black;
	font-family: 'Press Start 2P', cursive;
}
