body, div {
	font-family:arial;
	letter-spacing: 5%;
	background:#FAFAFA;
}

.overlay{
	width:100%;
	height:100%;
	background: rgba(0,0,0,0%);
	position:absolute;
	transition: all 0.55s ease-in-out;
}

.err{
	width:14.5%;
	height:28%;
	top:30%;
	left:10%;
	background:url(../img/erricon.png) center no-repeat;
	background-size: 90% ;
	position:absolute;
	transition: all 0.35s ease-in-out;
}

.err:hover{
	background-size: 100% ;
	transition: all 0.35s ease-in-out;
}

.err:hover > .overlay{
	background: rgba(0,0,0,40%);
	transition: all 0.35s ease-in-out;
}

.err:hover > h2{
	top: 32%;
	transform: translateY(-32%);
	-webkit-transform: translateY(-32%);
	-ms-transform: translateY(-32%);
	opacity:1;
	transition: all 0.35s ease-in-out;
}


.donbass{
	width:14.5%;
	height:28%;
	top:30%;
	left:29.5%;
	background:url(../img/donbasscover.png) center no-repeat;
	background-size: 140% ;
	position:absolute;
	transition: all 0.35s ease-in-out;
}

.donbass:hover{
	background-size: 150% ;
	transition: all 0.35s ease-in-out;
}

.donbass:hover > .overlay{
	background: rgba(0,0,0,40%);
	transition: all 0.35s ease-in-out;
}

.donbass:hover > h2{
	top: 32%;
	transform: translateY(-32%);
	-webkit-transform: translateY(-32%);
	-ms-transform: translateY(-32%);
	top: 32%;
	opacity:1;
	transition: all 0.35s ease-in-out;
}

.album{
	width:14.5%;
	height:28%;
	top:30%;
	left:49%;
	background:url(../img/japan.svg) center no-repeat;
	background-size: 170% ;
	position:absolute;
	transition: all 0.35s ease-in-out;
}

.album:hover{
	background-size: 180% ;
	transition: all 0.35s ease-in-out;
}

.album:hover > .overlay{
	background: rgba(0,0,0,40%);
	transition: all 0.35s ease-in-out;
}

.album:hover > h2{
	top: 32%;
	transform: translateY(-32%);
	-webkit-transform: translateY(-32%);
	-ms-transform: translateY(-32%);
	top: 32%;
	opacity:1;
	transition: all 0.35s ease-in-out;
}

.art{
	width:14.5%;
	height:28%;
	top:30%;
	left:68.5%;
	background:url(../img/bigwengz.png) center no-repeat;
	background-size: 140% ;
	position:absolute;
	transition: all 0.35s ease-in-out;
}

.art:hover {
	background-size:150%;
	transition: all 0.35s ease-in-out;
}

.art:hover > .overlay{
	background: rgba(0,0,0,40%);
	transition: all 0.35s ease-in-out;
}

.art:hover > h2{
	top: 32%;
	transform: translateY(-32%);
	-webkit-transform: translateY(-32%);
	-ms-transform: translateY(-32%);
	top: 32%;
	opacity:1;
	transition: all 0.35s ease-in-out;
}

.photos{
	width:14.5%;
	height:28%;
	top:63%;
	left:10%;
	background:url(../img/pink.jpg) center no-repeat;
	background-size: 155% ;
	position:absolute;
	transition: all 0.35s ease-in-out;
}

.photos:hover {
	background-size:160%;
	transition: all 0.35s ease-in-out;

}

.photos:hover > .overlay{
	background: rgba(0,0,0,40%);
	transition: all 0.35s ease-in-out;
}

.photos:hover > h2{
	top: 32%;
	transform: translateY(-32%);
	-webkit-transform: translateY(-32%);
	-ms-transform: translateY(-32%);
	top: 32%;
	opacity:1;
	transition: all 0.35s ease-in-out;
}

.films{
	width:14.5%;
	height:28%;
	top:63%;
	left:29.5%;
	background:url(../img/titlecard.png) center no-repeat;
	background-size: 140% ;
	position:absolute;
	transition: all 0.35s ease-in-out;
}

.films:hover {
	background-size:150%;
	transition: all 0.35s ease-in-out;

}

.films:hover > .overlay{
	background: rgba(0,0,0,40%);
	transition: all 0.35s ease-in-out;
}

.films:hover > h2{
	top: 32%;
	transform: translateY(-32%);
	-webkit-transform: translateY(-32%);
	-ms-transform: translateY(-32%);
	top: 32%;
	opacity:1;
	transition: all 0.35s ease-in-out;
}

.about{
	width:14.5%;
	height:28%;
	top:63%;
	left:49%;
	background: black;
	position: absolute;
}

.about:hover > .overlay{
	background: rgba(0,0,0,40%);
	transition: all 0.35s ease-in-out;
}

.about:hover > h2{
	top: 32%;
	transform: translateY(-32%);
	-webkit-transform: translateY(-32%);
	-ms-transform: translateY(-32%);
	top: 32%;
	opacity:1;
	transition: all 0.35s ease-in-out;
}

.resume{
	width:14.5%;
	height:28%;
	top:63%;
	left:68.5%;
	background: white;
	position: absolute;
}

.resume:hover > .overlay{
	background: rgba(0,0,0,40%);
	transition: all 0.35s ease-in-out;
}

.resume:hover > h2{
	top: 32%;
	transform: translateY(-32%);
	-webkit-transform: translateY(-32%);
	-ms-transform: translateY(-32%);
	top: 32%;
	opacity:1;
	transition: all 0.35s ease-in-out;
}

h1 {
	font-size:5em;
	position:absolute;
	top:5.5%;
	left:10%;
	color:#000AFA;
	transition: all 0.35s ease-in-out;
}

h1:hover {
	color:#00FA0A;
	transition: all 0.15s ease-in-out;
}

h2 {
	font-size:2em;
	color: white;
	opacity:0;
	width:100%;
	text-align:center;
	transition: all 0.55s ease-in-out;
	position: relative;
	top: 38%;
	transform: translateY(-38%);
	-webkit-transform: translateY(-38%);
	-ms-transform: translateY(-38%);

}
