

body {
	background:black;
	font-family: helvetica-bold;
	font-weight: 1;
	margin:none;
}

.wrapper{
	width:100vw;
	height:90vh;
	display:block;
}



.nav{
	width:100vw;
	height:10vh;
	background:black;
	position:fixed;
	top:0;
	left:0;
	display:flex;
}

.header{
	margin-left:auto;
	margin-right:auto;
}

h2{
	color:white;
	margin-top:3.5em;
	margin-left:3em;
	font-size:4em;
}

p{
	color:white;
	margin-top:1em;
	margin-left:6em;
	font-size:2em;
}

h4{
	margin-left:4em;
	color:white;
	font-size:1em;
	display:inline-block;

}

h5{
	color:white;
	font-size:1em;
	display:inline-block;
}

a{
	color:white;
}
