* {
	box-sizing: border-box;
	vertical-align: top;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	cursor:none;
	margin:0;
}

::-webkit-scrollbar {
    display: none;
}


#cursor {
	position: fixed;
	width:80px;
	height:80px;
	background:url(cursor2.png) ;
	background-size:contain;
	z-index: ;
	pointer-events: none;
}



.container{
	width:100vw;
	height:200vh;
	position: absolute;
	background:grey;
	z-index: -5;

}

h1{
	margin:auto;
	font-size: 5vw;
	color:red;
	width:5vw;
	background-color: red;
	cursor:none !important;
}

h1:hover{
	color:blue;
}

a {
	color:green;
	text-decoration: none;
	cursor:none;
}

a:hover{
	color:blue;
	text-decoration: underline;
	cursor: none;
}