* { vertical-align: top; }


body, div {
	margin:0;
	background:url(../img/namek.png) no-repeat;
	background:cover;
	background-color:#080808;
	font-family: 'Quattrocento', serif;
	color:	#F8F8F8;
}

.splash {
	display: flex;
  	position: fixed;
 	align-items: center;
 	justify-content: center;
	font-size: 100px;
	color:#ffdb4d;
	width:100%;
	height:100%;
}

a {	
	font-family: 'Quattrocento', serif;
	letter-spacing: 10px;
	color: #ffdb4d;
	text-decoration: none;
	transition: color 1s ease-in-out;
  }

a:hover{
	color:#ffeb99;
	transition: color 1s ease-in-out;
}