* { 
vertical-align: top;
box-sizing: border-box; }

body {
	margin:0;
    background: black;
}

#app {
	margin-left:12%;
	width:75%;
}

img {
	width:100%;
	margin-top:2.5%;
	margin-bottom:2.5%;
}

.wrapper {
  transition: background 2s ease;
}
.section {
	width:100%;
	background:red;
}

.section {
  display: block;
}