* {
	vertical-align: top;
	box-sizing: border-box;
}

body {
	background: black;

}

a {
	text-decoration: none;
}

h1 {
	color: #f6f6f6;
	font-family:quattrocento;
	font-size:2em;
	letter-spacing: 1em;
	margin-top:5%;
	margin-left:8%;
	transition: all 0.5s ease-in-out;
}

h1:hover {
	color:#e70000;
	transition: all 0.5s ease-in-out;
}

p {

	color: #f6f6f6;
	margin-top:1%;
	margin-left:8%;
	margin-right:18%;
	font-size:1em;
	font-family:arial;
	letter-spacing: 0.35em;
}