* { vertical-align: top; }


body, div {
	margin:0;
	background-color: #080808;
	font-family: 'Quattrocento', serif;
	color:	#F8F8F8;
}

.wrapper {
	background:url(../img/namek.png) no-repeat;
	background:cover;
	background-color: #080808;
	width:100%;
	height:100%;
	position:absolute;
}


.goku{
	background: url(../img/gokusmile.jpg) no-repeat center;
	background-size:cover;
	display:block;
	position:relative;
	border-radius:50%;
	width:8%;
	height:15%;
	margin:auto;
	margin-top:10%;
	padding:1em;
	box-sizing: border-box;
	transition: all 0.5s ease-in-out;

}

.goku:hover{
	background: url(../img/gokusmile.jpg) center;
	background-size:cover;
	background-color:#ffdb4d;
	display:block;
	position:relative;
	border-radius:50%;
	transform: scale(1.5);
	transition: all 0.5s ease-in-out;

}

.gohan{
	background: url(../img/gokugohan.jpg) no-repeat;
	background-size:cover;
	display:block;
	position:relative;
	border-radius:50%;
	width:8%;
	height:15%;
	margin:auto;
	margin-right:15%;
	margin-top:-7.5%;
	padding:1em;
	box-sizing: border-box;
	transition: all 0.5s ease-in-out;

}

.gohan:hover{
	background: url(../img/gokuhug.gif) no-repeat left;
	background-size:cover;
	background-color:blue;
	display:block;
	position:relative;
	border-radius:50%;
	transform: scale(1.5);
	transition: all 0.5s ease-in-out;

}

.piccolo{
	background: url(../img/gokupic.jpg) no-repeat center;
	background-size:cover;
	display:block;
	position:relative;
	border-radius:50%;
	width:8%;
	height:15%;
	margin:auto;
	margin-left:15%;
	margin-top:-7.5%;
	padding:1em;
	box-sizing: border-box;
	transition: all 0.5s ease-in-out;

}

.piccolo:hover{
	background: url(../img/gokupic.gif) no-repeat center;
	background-size:cover;
	background-color:blue;
	display:block;
	position:relative;
	border-radius:50%;
	transform: scale(1.5);
	transition: all 0.5s ease-in-out;

}

.vegeta{
	background: url(../img/gokuandvegeta.png) no-repeat;
	background-size:cover;
	display:block;
	position:relative;
	border-radius:50%;
	width:8%;
	height:15%;
	margin:auto;
	margin-top:2.5%;
	padding:1em;
	box-sizing: border-box;
	transition: all 0.5s ease-in-out;

}

.vegeta:hover{
	background: url(../img/gokuveg.gif) no-repeat center;
	background-size:cover;
	background-color:blue;
	display:block;
	position:relative;
	border-radius:50%%;
	transform: scale(1.5);
	transition: all 0.5s ease-in-out;

}

.trunks{
	background: url(../img/gokutrunks.png) no-repeat;
	background-size:cover;
	display:block;
	position:relative;
	border-radius:50%;
	width:8%;
	height:15%;
	margin:auto;
	margin-top:10.5%;
	padding:1em;
	box-sizing: border-box;
	transition: all 0.5s ease-in-out;

}

.trunks:hover{
	background: url(../img/gokutrunks.gif) no-repeat right;
	background-size:cover;
	background-color:blue;
	display:block;
	position:relative;
	border-radius:50%;
	transform: scale(1.5);
	transition: all 0.5s ease-in-out;

}

.info {
	top: 7.5vh;
	left: 10vw;
	color:#080808;
	color-opacity: 0%;
	width: 33.333333333333336vw;
	height: 31.48148148148148vh;
	display:block;
	overflow-y: hidden;
	/*background: url(../img/jtw.jpg) no-repeat;*/
	background-color: #ffdb4d;
	position:relative;
	-webkit-transition: width 2s;
	transition: all 2s;
}


.info2 {
	top: 42.5vh;
	left: 60vw;
	right:0;
	color:#080808;
	color-opacity: 0%;
	width: 33.333333333333336vw;
	height: 31.48148148148148vh;
	display:block;
	overflow-y: hidden;
	/*background: url(../img/jtw.jpg) no-repeat;*/
	background-color: #ffdb4d;
	position:absolute;
	-webkit-transition: width 2s;
	transition: all 2s;
}


.info3 {
	top: 35vh;
	left: 62.5vh;
	color:#080808;
	color-opacity: 0%;
	width: 33.333333333333336vw;
	height: 31.48148148148148vh;
	display:block;
	overflow-y: hidden;
	/*background: url(../img/jtw.jpg) no-repeat;*/
	background-color: #ffdb4d;
	position:absolute;
	-webkit-transition: width 2s;
	transition:2s;
	overflow:none;
}

.info4 {
	top:25vh;
	left:5vw;
	color:#080808;
	color-opacity: 0%;
	width: 45vw;
	height: 45vh;
	display:block;
	overflow-y: hidden;
	/*background: url(../img/jtw.jpg) no-repeat;*/
	background-color: #ffdb4d;
	position:relative;
	-webkit-transition: width 2s;
	transition: width 2s;
}

.image {
	opacity:100;
	position:absolute;
	width: 33.333333333333336vw;
	top:0px;
	left:0px;
	z-index:5;
	transition:opacity 1s;
}

.image2 {
	opacity:100;
	position:absolute;
	width: 45vw;
	top:0px;
	left:0px;
	z-index:5;
	transition:opacity 1s;
}

.info3 > img {
	top:-10vh;
}

.info3:hover {
	color-opacity: 100%;
	transform:scale(2.5);
	transition:2s;
	background-color: #ffdb4d;
}

.info3:hover > img {
	opacity:0;
	transition:opacity 1s;
}

.info:hover {
	color-opacity: 100%;
	width:66.6666666667vw;
	background-color: #ffdb4d;
}

.info:hover > .text{

	margin-left: 33.333333333333336vw;


}

.info4:hover {
	color-opacity: 100%;
	width:90vw;
	background-color: #ffdb4d;
}

.info4:hover > .text2{

	margin-left: 47.5vw;


}



.info2:hover {
	color-opacity: 100%;
	height:55vh;
	background-color: #ffdb4d;
}



.text {
	position:relative;
	display:block;
	width:33.333333333333336vw;
	-webkit-transition: margin-left 2s;
	transition: margin-left 2s;

	}

.text2 {
	position:relative;
	display:block;
	width:42vw;
	-webkit-transition: margin-left 2s;
	transition: margin-left 2s;

	}

.info:hover > .text{

	margin-left: 33.333333333333336vw;


}

.info2:hover > .text{

	margin-top: 31.48148148148148vh;


}


h1 {
	padding:0.5em;
	font-family: 'Metrophobic', sans-serif;
	font-size:17px;
	letter-spacing:2.5px;
	color:#080808;
	position:absolute;
	left:60;
	right:10;
	bottom:20;
}

h2 {
	padding:1em;
	font-family: 'Metrophobic', sans-serif;
	font-size:8px;
	letter-spacing:2.5px;
	color:#080808;
	position:absolute;
	left:60;
	right:10;
	bottom:20;
}


h6 {
	padding:1em;
	font-family: 'Metrophobic', sans-serif;
	font-size:15px;
	top:-4vh;
	letter-spacing:2.5px;
	color:#080808;
	position:absolute;
}



p {
	padding:1em;
	font-family: 'Metrophobic', sans-serif;
	font-size:10px;
	letter-spacing:2.5px;
	color:#080808;
	position:absolute;
	left:40;
	bottom:20;
	background:none;

}


.ball1{
	background: url(../img/oball.png) no-repeat;
	background-size:cover;
	display:block;
	position:fixed;
	bottom:0;
	right:0;
	border-radius:50%;
	width:5%;
	height:10%;
	margin-right:1em;
	margin-bottom:1em;
	padding:0.5em;
	box-sizing: border-box;
}

.ball2{
	background: url(../img/wball.png) no-repeat;
	background-size:cover;
	display:block;
	position:fixed;
	bottom:0;
	left:0;
	border-radius:50%;
	width:5%;
	height:10%;
	padding:1em;
	margin-left:1em;
	margin-bottom:1em;
	box-sizing: border-box;
}

.info7 {
	color:#080808;
	color-opacity: 0%;
	width: 45vw;
	height: 44vh;
	display:block;
	overflow-y: hidden;
	/*background: url(../img/jtw.jpg) no-repeat;*/
	background-color: #ffdb4d;
	position:relative;
	-webkit-transition: width 2s;
	transition: width 2s;
}

.image7 {
	position:absolute;
	width: 45vw;
	top:-25vh;
	left:0px;
	z-index:5;
}


.info7:hover {
	color-opacity: 100%;
	width:90vw;
	background-color: #ffdb4d;
}

.text7 {
	position:relative;
	display:block;
	width:45vw;
	-webkit-transition: margin-left 2s;
	transition: margin-left 2s;

	}

.info7:hover > .text7{

	margin-left: 45vw;


}

.wrapper7 {
	background:url(../img/namek.png) no-repeat;
	background:cover;
	background-color: #080808;
	display: flex;
  	position: fixed;
 	align-items: center;
 	justify-content: center;
	width:100%;
	height:100%;
	position:absolute;
}
