* { vertical-align: top; }


body, div {
	margin:0;
	background-color: #080808;
	font-family: 'Quattrocento', serif;
	color:	#F8F8F8;
}

.wrapper {
	background:url(../img/namek.png) no-repeat;
	background:cover;
	background-color: #080808;
	width:100%;
	height:100%;
	position:absolute;
}


.goku{
	background: url(../img/1.png) no-repeat;
	background-size:cover;
	display:block;
	position:relative;
	border-radius:50%;
	width:8%;
	height:15%;
	margin:auto;
	margin-top:10%;
	padding:1em;
	box-sizing: border-box;
	transition: all 0.5s ease-in-out;

}

.goku:hover{
	background: url(../img/goku.gif) no-repeat center;
	background-size:cover;
	background-color:blue;
	display:block;
	position:relative;
	border-radius:50%;
	transform: scale(1.5);
	transition: all 0.5s ease-in-out;

}

.gohan{
	background: url(../img/4.png) no-repeat;
	background-size:cover;
	display:block;
	position:relative;
	border-radius:50%;
	width:8%;
	height:15%;
	margin:auto;
	margin-right:15%;
	margin-top:-7.5%;
	padding:1em;
	box-sizing: border-box;
	transition: all 0.5s ease-in-out;

}

.gohan:hover{
	background: url(../img/gohan.gif) no-repeat center;
	background-size:cover;
	background-color:blue;
	display:block;
	position:relative;
	border-radius:50%;
	transform: scale(1.5);
	transition: all 0.5s ease-in-out;

}

.piccolo{
	background: url(../img/3.png) no-repeat;
	background-size:cover;
	display:block;
	position:relative;
	border-radius:50%;
	width:8%;
	height:15%;
	margin:auto;
	margin-left:15%;
	margin-top:-7.5%;
	padding:1em;
	box-sizing: border-box;
	transition: all 0.5s ease-in-out;

}

.piccolo:hover{
	background: url(../img/piccolo.gif) no-repeat center;
	background-size:cover;
	background-color:blue;
	display:block;
	position:relative;
	border-radius:50%;
	transform: scale(1.5);
	transition: all 0.5s ease-in-out;

}

.vegeta{
	background: url(../img/2.png) no-repeat;
	background-size:cover;
	display:block;
	position:relative;
	border-radius:50%;
	width:8%;
	height:15%;
	margin:auto;
	margin-top:2.5%;
	padding:1em;
	box-sizing: border-box;
	transition: all 0.5s ease-in-out;

}

.vegeta:hover{
	background: url(../img/vegeta.gif) no-repeat center;
	background-size:cover;
	background-color:blue;
	display:block;
	position:relative;
	border-radius:50%%;
	transform: scale(1.5);
	transition: all 0.5s ease-in-out;

}

.trunks{
	background: url(../img/7.png) no-repeat;
	background-size:cover;
	display:block;
	position:relative;
	border-radius:50%;
	width:8%;
	height:15%;
	margin:auto;
	margin-top:10.5%;
	padding:1em;
	box-sizing: border-box;
	transition: all 0.5s ease-in-out;

}

.trunks:hover{
	background: url(../img/trunks.gif) no-repeat center;
	background-size:cover;
	background-color:blue;
	display:block;
	position:relative;
	border-radius:50%;
	transform: scale(1.5);
	transition: all 0.5s ease-in-out;

}


.ball1{
	background: url(../img/oball.png) no-repeat;
	background-size:cover;
	display:block;
	position:fixed;
	bottom:0;
	right:0;
	border-radius:50%;
	width:5%;
	height:10%;
	margin-right:1em;
	margin-bottom:1em;
	padding:0.5em;
	box-sizing: border-box;
}

.ball2{
	background: url(../img/wball.png) no-repeat;
	background-size:cover;
	display:block;
	position:fixed;
	bottom:0;
	left:0;
	border-radius:50%;
	width:5%;
	height:10%;
	padding:1em;
	margin-left:1em;
	margin-bottom:1em;
	box-sizing: border-box;
}
