* {
	box-sizing: border-box;
	vertical-align: top;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
	background:#52FF33;
	width:100%;
	height:100%;
	color:none;
	font-family:arial;
	font-size:1em;
	overflow-y:none;
	margin:0;

}

h2{
	font-family: 'Archivo Black', sans-serif;
	font-size:7em;
	width:30vw;
	text-align: left;
	  color: #52FF33;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #7731B6;
   bottom:-70px;
   left:20px;
   position:absolute;
  transition:0.3s ease-in-out;
  z-index: 1;
	overflow-y:none;
}


ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 1em;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  background:none;
  font-weight: bold;
}

li {
  float: left;
  text-align: center;
}

li a {
  display: block;
  color: #7731B6;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  margin: 0 auto;
}

.one{
	width:30vw;
	height:40vh;
	position:absolute;
	background:url(01.jpg) center no-repeat;
	background-size:100%;
	margin-top: 2em;
	right:8em;
}


.two {
	width:30vw;
	height:70vh;
	position:absolute;
	background:url(02.jpg) center no-repeat;
	background-size:100%;
	position:absolute;
	margin-top:6em;
	left:12em;
}

.three {
	width:30vw;
	height:70vh;
	position:absolute;
	background:url(03.jpg) center no-repeat;
	background-size:100%;
	position:absolute;
	margin-top:16em;
	right:13em;
}

.four {
	width:30vw;
	height:70vh;
	position:absolute;
	background:url(04.jpg) center no-repeat;
	background-size:100%;
	position:absolute;
	margin-top:35em;
	right:20em;
}

.container {
	width:100%;
	height:100%;
	position:absolute;
	text-align: center;
	padding:10px;
	text-align: center;
    transition:0.3s ease-in-out;
}

.picwrapper{
	margin:0 auto;
	width:20vw;
	height:70vh;
	background:none;
	display:block;
	border-width: 5px;
	border-style: solid;
	border-color: #7731B6;
    transition:0.3s ease-in-out;
}

.picwrapper:hover{
	width:70vw;
    transition:0.3s ease-in-out;
}



.picwrapper2{
	margin:0 auto;
	margin-top:2%;
	width:70vw;
	height:70vh;
	background:none;
	display:block;
}

.pic{
	width:19.50%;
	height:68.5%;
	background:url(earl.jpg) center ;
	float:left;
	position:fixed;
    transition:0.3s ease-in-out;
    z-index: -1;
}

.text{
	width:0%;
	height:100%;
	background:#52FF33;
	display:block;
	float:right;
  overflow:hidden;
  word-wrap: break-word; 
  transition:0.3s ease-in-out;
  transform: 0.1s ease-in;
  padding-bottom: 1em;

}

.picwrapper:hover .text{
	width:60%;
	display:inline-flex;
  transition:0.3s ease-in-out;
}

.picwrapper:hover .pic{
	width:40%;
	float:left;
  transition:0.3s ease-in-out;
}

.text p {
	color:#7731B6;
	display:inline-block;
	background:#52FF33;
	font-family: arial;
	font-style: italic;
	font-size: 1.5em;
	text-align: left;
	padding:1em;
	margin-top: -0.25em;
  padding-bottom: 1em;
  transition:0.3s ease-in-out;
}

article {
  display: inline-grid;
  grid-template-rows: 215px 215px 215px;
  grid-template-columns: 215px 215px 215px;
  grid-gap: 50px;
}

section {

  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #7731B6;
  font-size: 3em;
  transform:scale(1);
  transition:0.3s ease-in-out;
}

section:hover {
transform:scale(1.25);
  transition:0.3s ease-in-out;
}