body, div  {
	background-color:#F9F9F9;
	margin:0;
	font-family:arial;
	letter-spacing: 0.2vmin;
	line-height: 2vmin;
}

.wrapper {
	background-color:#F9F9F9;
	width:100%;
	height:100%;
	position:absolute;
	overflow:none;
	margin:0;
	transition: all 5s ease-in-out;
}


.red{
	background-color:#FB3B3B;
	width:15%;
	height:25%;
	border-radius: 50%;
	position:relative;
	display:block;
	top:35%;
	left:45%;
	font-size:0vmin;
	color:rgba(247,240,240,0) ;
	transition: all 0.75s ease-in-out;
}

.red:hover {
	background-color:#FB3B3B;
	border-radius: 0%;
	position:relative;
	display:block;
	top:35%;
	left:45%;
	font-size:1vmin;
	transform:scale(3);
	color:rgba(247,240,240,1) ;
	transition: all .80s ease-in-out;
	overflow-y:none;
}


a{
	text-decoration: none;
	color:rgba(247,240,240,1) ;
}

 p {
	padding:1em;
}