* {
	box-sizing: border-box;
	vertical-align: top;
}

body {
	background:grey;
	width:100%;
	height:100%;
	color:darkblue;
	font-family:arial;
	font-size:1em;
	overflow:none;
	margin:0;

}

h5{
	color:yellow;
	font-size:1.5em;
	font-weight: lighter;
	margin-top:1em;
	margin-left:1em;
	text-decoration: none;
	position:fixed;
}



a {
	text-decoration: none;
	color:yellow;
}

a:hover {
	text-decoration: underline;
}


.container {
	width:100%;
	height:100%;
	position:absolute;
	text-align: center;
	overflow:none;
}

.circle{
	width:50px;
	height:50px;
	border-radius: 50%;
	background:red;
	display:inline-block;
	margin:2px;
	position:relative;
}

#square {
	margin:auto;
	width:50px;
	height:50px;
	background:blue;
	color:none;
	position: absolute;
	top:32.5%;
	left:393px;
    transform: perspective(1px) translateY(-0%);
    padding:10px;
    text-align:center;
    border-radius: 10%;
    display: block;
    border-radius:50%;
	transition: 0.5s ease-in-out;

}

.square{
	margin:auto;
	width:50px;
	height:50px;
	background:blue;
	color:none;
	position: absolute;
	top:32.5%;
	left:446px;
	transform: perspective(1px) translateY(-0%);
    padding:10px;
    text-align:center;
    border-radius: 10%;
    display: block;
    border-radius:50%;
	transition: 0.5s ease-in-out;


}

#square:hover {
	margin:auto;
	width:200px;
	height:200px;
	background:blue;
	color:yellow;
	position: absolute;
	top:30%;
    transform: perspective(1px) translateY(-0%);
    padding:10px;
    text-align:center;
    border-radius: 10%;
    display: inline-block;
	border-radius:50%;
	transition: 0.5s ease-in-out;
}

.square:hover{
	margin:auto;
	width:150px;
	height:150px;
	background:blue;
	color:yellow;
	position: absolute;
	top:32.5%;
	left:456px;
    transform: perspective(1px) translateY(-0%);
    padding:10px;
    text-align:center;
    border-radius: 10%;
    display: inline-block;
	border-radius:50%;
	transition: 0.5s ease-in-out;

}

.two {
	background:blue;
	color:yellow;
}



h1 {
	margin:auto;
	font-size:0em;
	font-weight: lighter;
	line-height: 10px;
	position:relative;
	color:yellow;
	transition: 0.5s ease-in-out;
	
}

h2 {
	margin:auto;
	font-size:0em;
	font-weight: lighter;
	line-height: 10px;
	position:relative;
	color:yellow;
	transition: 0.5s ease-in-out;
	
}

.square:hover > h1{
	margin:auto;
	font-size:5em;
	line-height: 200px;
	position: relative;
	transition: 0.5s ease-in-out;
	

}

#square:hover > h2 {
	margin:auto;
	font-size:5em;
	line-height: 200px;
	position:relative;
	transition:0.5s ease-in-out;
	
}

.square, #square, .circle {
	background:blue;
	mix-blend-mode: exclusion;
	animation-name: animation-one;
	animation-duration: 4s;
	animation-iteration-count: infinite;


}

@keyframes animation-one {
	0% { background:blue; }
	50% { background:red; }
	100% { background:blue; }
}
