* { 
vertical-align: top;
box-sizing: border-box; }

body {
  margin:0;
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: $clouds;
  background: $dark;
}

img {
	width:84%;
}

.wrapper {
  transition: background .2s ease;
}
.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.short {
  height: (100vh / 3);
}

.title {
  white-space: nowrap;
  font-weight: 100;
  font-size: 4vw;
  font-color: $clouds;
  
  a {
    color: inherit;
  }
}